<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>test-memoria</title>
<meta charset="utf-8">
</head>
<body>

	<h1 align="center">
		V3.0 - Benvinguts a l'aplicacio des del nou laboratori: <span th:text="${appName}"></span>
	</h1>
	<br>
	<h2 align="center">Aplicació de test de memòria per OpenShift.</h2>
	<h2 align="center">Cada execució genera una variable amb <span th:text="${capacitat}"></span> de bites.</h2>
	<h2 align="center">
		Data d'execució: <span th:text="${data}"></span>
		<br>
		Hora d'execució: <span th:text="${hora}"></span>
	</h2>
	

</body>
</html>